@model WalkingTec.Mvvm.Core.BaseVM
@using Newtonsoft.Json;

<link href="~/min/datetime.min.css" rel="stylesheet" />
<div class="layui-row layui-col-space15" id="frontpage">
    <div class="layui-col-md12">
        <div class="layui-row layui-col-space15">
            <div class="layui-card-header">快捷方式</div>
            <div class="layui-card-body">
                <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                    <div carousel-item>
                        <ul class="layui-row layui-col-space10">
                            <li class="layui-col-xs3">
                                <a lay-href="other/StuTable">
                                    <i class="layui-icon layui-icon-username"></i>
                                    <cite>学生信息</cite>
                                </a>
                            </li>
                            <li class="layui-col-xs3">
                                <a lay-href="other/Exam">
                                    <i class="layui-icon layui-icon-tabs"></i>
                                    <cite>考试试题</cite>
                                </a>
                            </li>
                            <li class="layui-col-xs3">
                                <a lay-href="other/TableTest">
                                    <i class="layui-icon layui-icon-app"></i>
                                    <cite>其它信息</cite>
                                </a>
                            </li>
                            <li class="layui-col-xs3">
                                <a lay-href="other/LinkManInfo">
                                    <i class="layui-icon layui-icon-user"></i>
                                    <cite>联系人信息</cite>
                                </a>
                            </li>
                            <li class="layui-col-xs3">
                                <a href="https://www.baidu.com/">
                                    <i class="layui-icon layui-icon-website"></i>
                                    <cite>前往百度</cite>
                                </a>
                            </li>
                            <li class="layui-col-xs3">
                                <a href="https://www.layui.com/">
                                    <i class="layui-icon layui-icon-website"></i>
                                    <cite>前往LayUi</cite>
                                </a>
                            </li>
                            <li class="layui-col-xs3">
                                <a href="">
                                    <i class="layui-icon layui-icon-refresh"></i>
                                    <cite>刷新</cite>
                                </a>
                            </li>
                            <li class="layui-col-xs3">
                                <a href="javascript:;">
                                    <i class="layui-icon layui-icon-face-smile"></i>
                                    <cite>文档</cite>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>

    

    

    

    <div id="datetime"></div>
</div>
<script src="~/min/datetime.min.js"></script>
<script>
  $("#frontpage").parent().css("background-color", "#eee");


  //区块轮播切换
  layui.use(['admin', 'carousel'], function () {
    var $ = layui.$
      , admin = layui.admin
      , carousel = layui.carousel
      , element = layui.element
      , device = layui.device();

    //轮播切换
    $('.layadmin-carousel').each(function () {
      var othis = $(this);
      carousel.render({
        elem: this
        , width: '100%'
        , arrow: 'none'
        , interval: othis.data('interval')
        , autoplay: othis.data('autoplay') === true
        , trigger: (device.ios || device.android) ? 'click' : 'hover'
        , anim: othis.data('anim')
      });
    });

    element.render('progress');

  });

 

</script>