@model WalkingTec.Mvvm.Core.BaseVM
@using Newtonsoft.Json;

<link href="~/min/datetime.min.css" rel="stylesheet" />
<div class="layui-row layui-col-space15" id="frontpage"></div>
<script src="~/min/datetime.min.js"></script>